# Python
__pycache__/
*.pyc

# Django
*.log
*.pot
*.mo
db.sqlite3

# Virtual env
env/
venv/

# IDE
.idea/
.vscode/

# nginx certificates
/nginx/certs

# Docker
*.pid
*.sock

# Firebase keys
firebase-key.json

# Local files
.env

# Static files
/poker-service/staticfiles/